.tasks-card {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #f0f0f0;
  height: 450px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  overflow: hidden;
}

.tasks-list {
  flex: 1;
  overflow-y: scroll;


  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tasks-list::-webkit-scrollbar {
  display: none;
}


h6 {
  font-weight: 600;
  margin-bottom: 16px;
  flex-shrink: 0;
}


.tasks-list {
  flex: 1;
  overflow-y: auto;
  padding-right: 6px;
}


.tasks-list::-webkit-scrollbar {
  width: 6px;
}

.tasks-list::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.task-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 0;
}

.check {
  margin-top: 4px;
}

.info {
  flex: 1;
}

.title {
  font-size: 13px;
  font-weight: 600;
}

.date {
  font-size: 12px;
  color: #9ca3af;
  margin-top: 2px;
}


.footer {
  flex-shrink: 0;
  margin-left: -18px;
  margin-right: -18px;
  padding: 14px 18px;
  border-top: 1px solid #eef1f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #111;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
}

.arrow {
  font-size: 20px;
}