

.rounded-3 {
  border-radius: 16px !important;
}

.tasks-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tasks-list::-webkit-scrollbar {
  width: 6px;
}

.tasks-list::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}