

.rounded-3 {
  border-radius: 14px !important;
}

.green {
  background: #dcfce7 !important;
  color: #16a34a !important;
}

.blue {
  background: #dbeafe !important;
  color: #2563eb !important;
}

.orange {
  background: #fef3c7 !important;
  color: #d97706 !important;
}

.gray {
  background: #e5e7eb !important;
  color: #6b7280 !important;
}

.purple {
  background: #ede9fe !important;
  color: #7c3aed !important;
}

.even-row {
  background: #E5ECF6 !important;
}

.odd-row {
  background: #F2F2F2 !important;
}

.table-body {
  scrollbar-width: thin;
}

.table-body::-webkit-scrollbar {
  width: 6px;
}

.table-body::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}