.spend-card {
  background:#fff;
  border-radius:14px;
  padding: 18px 18px 0 18px;
  border:1px solid #f0f0f0;
  display:flex;
  flex-direction:column;

   margin-right: 20px;
}


.card-head {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.left {
  display:flex;
  gap:10px;
  align-items:center;
}

.icon {
  width:34px;
  height:34px;
  border-radius:10px;
  background:#F2F2F2;
  display:flex;
  align-items:center;
  justify-content:center;
}

.title { font-weight:600; font-size:14px; }
.sub { font-size:12px; color:#9ca3af; }


.donut-wrapper {
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
   position: relative; 
}

.menu {
  font-size: 20px;
  background: #F2F2F2;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.legend {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:8px 12px;
  font-size:12px;
  color:#6b7280;
  margin-top:8px;
   margin-bottom:6px;
}

.dot {
  width:8px;
  height:8px;
  border-radius:50%;
  display:inline-block;
  margin-right:6px;
}

.blue { background:#3b82f6; }
.green { background:#22c55e; }
.orange { background:#f97316; }
.gray { background:#e5e7eb; }

/* Footer */
/* .footer {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 6px;
  font-size: 12px;
  margin-top: 12px;
  color: #111;
  font-weight: 600;
  cursor: pointer;
} */
.footer {
  margin-top: auto;

  margin-left: -18px;
  margin-right: -18px;

  padding: 14px 18px;            
  border-top: 1px solid #eef1f5;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  color: #111;
  font-weight: 600;
  cursor: pointer;
}

.arrow {
  font-size: 20px;
}
.chart-tip {
  position: absolute;
  background: #111;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 12px;
  width: 160px;
  pointer-events: none;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  transform: translate(-50%, -100%);
}

.chart-tip::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}

.tip-title {
  font-weight: 600;
  margin-bottom: 4px;
}
