

.chev-icon {
  display: inline-block;
}


.chev-icon path,
.chev-icon polyline {
  stroke: #cbd5e1;
  stroke-width: 1.5;
  fill: none;
}


.rightpanel-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}


.rightpanel-icon {
  width: 18px;
  height: 18px;
}