.chat-card {
  background: #fff;
  border-radius: 16px;
  padding: 14px;
  border: 1px solid #eef1f5;
  display: flex;
  flex-direction: column;
  height: 452px;
  overflow: hidden;

  margin-right: 20px;
}


.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  flex-shrink: 0;
}

.card-head h6 {
  font-size: 16px;
  font-weight: 600;
}

.menu {
  font-size: 20px;
  background: #F2F2F2;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}


.chat-body {
  flex: 1;
  overflow-y: auto;
  padding-right: 4px;

  scrollbar-width: none;
}

.chat-body::-webkit-scrollbar {
  display: none;
}


.chat-input {
  flex-shrink: 0;
}



.msg-row {
  margin-bottom: 12px;
  width: 100%;
}


.row-left {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}


.row-right {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: flex-start;
}


.avatar-col {
  width: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.time {
  font-size: 12px;
  color: #9ca3af;
  margin-top: 6px;
}


.text-col {
  max-width: calc(100% - 60px);
}

.right-text {
  text-align: right;
}


.name {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #374151;
}


.bubble {
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.left-bubble {
  background: #e9f1ff;
}

.right-bubble {
  background: #fde8c8;
}


.chat-input {
  display: flex;
  gap: 6px;
  padding-top: 8px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 14px;
}

.chat-input button {
  background: #ff5b5b;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}