

.rounded-3 {
  border-radius: 14px !important;
}

.reviews-list {
  max-height: 264px;
  overflow-y: auto;
  padding-right: 6px;
}

.reviews-list::-webkit-scrollbar {
  width: 6px;
}

.reviews-list::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.reviews-list::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}