

.rotate {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}


.sidebar-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


.sidebar-submenu li {
  padding: 10px 0;
  font-size: 14px;
  color: #374151;
}
.no-underline,
.no-underline:hover,
.no-underline:focus {
  text-decoration: none !important;
}
