<div class="sidebar">


  <div class="logo">
    <img [src]="'https://i.pravatar.cc/32?img=1'" class="avatar">
    <span>ByeWind</span>
  </div>


  <div class="menu-section">

    <div class="fav-tabs">
      <span class="tab active">Favorites</span>
      <span class="tab">Recently</span>
    </div>

    <ul class="menu-list">
      <li class="menu-item active">
        <span class="dot"></span> Overview
      </li>
      <li class="menu-item">
        <span class="dot"></span> Projects
      </li>
    </ul>

  </div>


  <div class="menu-section">
    <p class="section-title">Dashboards</p>
    <ul class="menu-list">
      <li class="menu-item active-pill"><img src="/assets/icons/overview.svg" class="menu-svg"> Overview</li>
      <li class="menu-item"><span class="arrow">›</span><img src="/assets/icons/ecommerce.svg" class="menu-svg">
        eCommerce</li>
      <li class="menu-item"><span class="arrow">›</span><img src="/assets/icons/projects.svg" class="menu-svg"> Projects
      </li>
      <li class="menu-item"><span class="arrow">›</span><img src="/assets/icons/onlinecourses.svg" class="menu-svg">
        Online Courses</li>
    </ul>
  </div>


  <div class="menu-section">
    <p class="section-title">Pages</p>
    <ul class="menu-list">
      <li class="menu-item has-arrow" (click)="toggleProfile()">
        <span class="arrow" [class.rotate]="profileOpen">
          <svg viewBox="0 0 24 24">
            <polyline points="9 6 15 12 9 18"></polyline>
          </svg>
        </span>
        <img src="/assets/icons/userprofile.svg" class="menu-svg"> User Profile

      </li>

      <ul class="submenu" *ngIf="profileOpen">
        <li>Overview</li>
        <li>Projects</li>
        <li>Campaigns</li>
        <li>Documents</li>
        <li>Followers</li>
      </ul>

      <li class="menu-item has-arrow"><span class="arrow">›</span> <img src="/assets/icons/account.svg"
          class="menu-svg"> Account</li>
      <li class="menu-item has-arrow"><span class="arrow">›</span><img src="/assets/icons/corporate.svg"
          class="menu-svg"> Corporate</li>
      <li class="menu-item has-arrow"><span class="arrow">›</span><img src="/assets/icons/blog.svg" class="menu-svg">
        Blog</li>
      <li class="menu-item has-arrow"><span class="arrow">›</span><img src="/assets/icons/social.svg" class="menu-svg">
        Social</li>

    </ul>
  </div>

</div>